<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Clipboardy buttons</title>
  <link rel="stylesheet" href="compile/css/vendors.css"/>
  <link rel="stylesheet" href="compile/css/buttons.css"/>
  <script type="text/javascript" src="compile/js/vendors.js"></script>
  <script type="text/javascript" src="compile/js/buttons.js"></script>
</head>
<body ng-app="ButtonsApp" ng-controller="ButtonsCtrl as ctrl">
<a href="#" class="btn btn-default btn-xs cl-action" ng-click="ctrl.onCopySourceClick()">Copy</a>
<a href="#" class="btn btn-default btn-xs cl-action" ng-click="ctrl.onCopySourceClick()">Select</a>
<a href="#" class="btn btn-default btn-xs cl-action" ng-click="ctrl.onCopySourceClick()">Collapse</a>
</body>
</html>