<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Clipboardy settings</title>
  <link rel="stylesheet" href="compile/css/vendors.css"/>
  <link rel="stylesheet" href="compile/css/options.css"/>
  <script type="text/javascript" src="compile/js/vendors.js"></script>
  <script type="text/javascript" src="compile/js/options.js"></script>
</head>
<body ng-app="OptionsApp" ng-controller="OptionsController as ctrl">
<div class="container" ng-class="{'cl-stop-animation': ctrl.stopTransitions}">
  <div class="row">
    <div class="col-sm-12">
      <div class="page-header">
        <h5>
          <img class="cl-logo" src="icons/default128.png" alt="Clipboardy icon">
          Clipboardy settings
        </h5>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <div class="panel panel-default bs-component">
        <div class="panel-body">
          <form class="form-horizontal">
            <div class="form-group">
              <label class="col-sm-3 control-label">Toolbar Appearance</label>
              <div class="col-sm-9">
                <div class="radio">
                  <label>
                    <input type="radio" name="toolbarAppearance" ng-value="ctrl.C.VALUE_BUTTONS_APPEARANCE_ALWAYS"
                           ng-model="ctrl.buttonsAppearance" ng-change="ctrl.onButtonsAppearanceChange()"/>
                    Always display near source code
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="toolbarAppearance" ng-value="ctrl.C.VALUE_BUTTONS_APPEARANCE_HOVER"
                           ng-model="ctrl.buttonsAppearance" ng-change="ctrl.onButtonsAppearanceChange()"/>
                    Display when hovering source code
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="toolbarAppearance" ng-value="ctrl.C.VALUE_BUTTONS_APPEARANCE_NOT_DISPLAY"
                           ng-model="ctrl.buttonsAppearance" ng-change="ctrl.onButtonsAppearanceChange()"/>
                    Do not display
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">List of Buttons</label>

              <div class="col-sm-9">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checklist-model="ctrl.buttonsList" checklist-value="ctrl.C.VALUE_BUTTONS_LIST_COPY"
                           checklist-change="ctrl.onButtonsListChange()" disabled="true" checked/>
                    Show <em>Copy to clipboard</em> button
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checklist-model="ctrl.buttonsList" checklist-value="ctrl.C.VALUE_BUTTONS_LIST_SELECT"
                           checklist-change="ctrl.onButtonsListChange()"/>
                    Show <em>Select text</em> button
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checklist-model="ctrl.buttonsList" checklist-value="ctrl.C.VALUE_BUTTONS_LIST_COLLAPSE"
                           checklist-change="ctrl.onButtonsListChange()"/>
                    Show <em>Collapse source</em> button
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Toolbar Position</label>

              <div class="col-sm-9">
                <div class="radio">
                  <label>
                    <input type="radio" name="buttonsLayout" ng-model="ctrl.buttonsLayout" ng-value="ctrl.C.VALUE_BUTTONS_LAYOUT_RIGHT"
                           ng-change="ctrl.onButtonsLayoutChange()" />
                    Right side of the source code, vertically
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="buttonsLayout" ng-model="ctrl.buttonsLayout" ng-value="ctrl.C.VALUE_BUTTONS_LAYOUT_TOP"
                           ng-change="ctrl.onButtonsLayoutChange()" />
                    Top side of the source code, horizontally
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Highlight syntax in history preview</label>

              <div class="col-sm-9">
                <div class="radio">
                  <label>
                    <input type="radio" name="syntaxHighlighting" ng-model="ctrl.syntaxHighlighting"
                           ng-value="ctrl.C.VALUE_SYNTAX_HIGHLIGHTING_HIGHLIGHTJS"
                           ng-change="ctrl.onSyntaxHighlightingChange()" />
                    Use Highlight.js to color the syntax
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="syntaxHighlighting" ng-model="ctrl.syntaxHighlighting"
                           ng-value="ctrl.C.VALUE_SYNTAX_HIGHLIGHTING_PLAIN"
                           ng-change="ctrl.onSyntaxHighlightingChange()" />
                    Display as plain text
                  </label>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-3"></div>
  </div>
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <div class="buttons">
        <a href="http://rainsoft.io/clipboardy-chrome-extension/" class="icon-book button-documentation"></a>
        <a href="https://github.com/panzerdp/clipboardy" class="icon-github button-github"></a>
      </div>
    </div>
    <div class="col-sm-3"></div>
  </div>
</div>
</body>
</html>