<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Clipboard history</title>
  <link rel="stylesheet" href="compile/css/vendors.css"/>
  <link rel="stylesheet" href="compile/css/highlight.css"/>
  <link rel="stylesheet" href="compile/css/popup.css"/>
  <script type="text/javascript" src="compile/js/vendors.js"></script>
  <script type="text/javascript" src="compile/js/popup.js"></script>
</head>
<body ng-app="HistoryApp" ng-controller="HistoryController as ctrl" ng-keydown="ctrl.onKeydown($event)">
<div class="history-items">
  <div ng-repeat="historyItem in ctrl.historyItems" class="row" ng-class="{'selected': ctrl.activeItemIndex === $index}"
       ng-click="ctrl.onRowClick($index)" ng-dblclick="ctrl.onRowDoubleClick($index)"
       scroll-into scroll-into-active="{{ ctrl.activeItemIndex === $index ? 'active' : 'not-active' }}">
    <span class="row-index"><i class="icon-file-text-o"></i>{{ $index + 1 }}</span> {{ historyItem | firstLine }}
  </div>
  <div ng-if="ctrl.historyItems.length === 0" class="empty-message">Clipboard history is empty</div>
</div>
<div class="history-item-full-text" ng-if="ctrl.activeItemIndex === -1">
  <div class="empty-message">Nothing to preview</div>
</div>
<div class="history-item-full-text" hljs hljs-source="ctrl.historyItems[ctrl.activeItemIndex]"
     scroll-reset scroll-reset-selector="code" scroll-reset-value="{{ ctrl.activeItemIndex }}"
     ng-if="ctrl.activeItemIndex !== -1"></div>
</body>
</html>