html, body
  background: none
  margin: 0
  padding: 0

.buttons
  float: right
  margin-right: 5px
  .cl-action
    width: 55px
    margin-left: 5px
    padding: 2px 3px 1px
    font-size: 9px
    &:first-child
      margin-left: 0