@import "../../node_modules/font-awesome/scss/font-awesome";

html, body {
  background: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

.buttons {
  margin-right: 10px;
  .cl-action {
    padding: 2px 3px 1px;
  }
  &.btn-group-horizontal {
    .cl-action {
      width: 55px;
      font-size: 9px;
    }
  }
  &.btn-group-vertical {
    .cl-action {
      width: 20px;
      font-size: 10px;
    }
  }
}