@import "common/icons";

.container {
  text-align: left;
  &.cl-stop-animation {
    *, *:after, *:before {
      transition: none !important;
      -webkit-transition: none !important;
    }
  }
  .cl-logo {
    width: 42px;
    margin-right: 10px;
  }
  .buttons {
    text-align: right;
    font-size: 22px;
    .button-github {
      cursor: pointer;
      text-decoration: none;
      color: #a2a4a6;
    }
    .button-github:hover {
      color: #808080;
    }
    .button-documentation {
      margin-right: 10px;
      @extend .button-github;
    }
  }
}