@import "../../node_modules/font-awesome/scss/font-awesome";

.container {
  text-align: left;
  .cl-logo {
    width: 42px;
    margin-right: 10px;
  }
  .buttons {
    text-align: right;
    font-size: 20px;
    .button-github {
      transition: none;
      -webkit-transition: none;
      cursor: pointer;
      text-decoration: none;
      color: #a2a4a6;
    }
    .button-github:hover {
      color: #808080;
    }
    .button-documentation {
      margin-right: 10px;
      @extend .button-github;
    }
  }
}