html {
  overflow: hidden
}

body {
  overflow: hidden;
  max-height: 600px;
  width: 500px;
  color: #232323;
  font-family: "Lucida Console", Monaco, monospace;
  -webkit-font-smoothing: subpixel-antialiased;
  background-color: #e3e3e3;
}

.history-items, .history-item-full-text {
  margin: 8px;
  background-color: white;
  border: 1px solid #cdcdcd;
  font-size: 12px;
}

.history-items {
  overflow-y: auto;
  overflow-x: hidden;
  height: 195px;
  cursor: default;
  .row {
    white-space: nowrap;
    margin-right: 0;
    margin-left: 0;
    padding-left: 5px;
    padding-right: 5px;
    &.selected {
      background-color: #3875d6;
      color: white;
    }
  }
}

.history-item-full-text {
  overflow: hidden;
  height: 380px;
  .hljs {
    background-color: white;
    white-space: pre;
    word-wrap: normal;
    height: 100%;
  }
  pre {
    height: 100%;
    padding: 0;
    margin: 0;
    word-break: normal;
    word-wrap: normal;
    background-color: white;
    border: none;
    border-radius: 0;
    overflow: visible;
  }
}