html {
  overflow: hidden
}

body {
  overflow: hidden;
  max-height: 600px;
  width: 500px;
  color: #232323;
  font-family: "Lucida Console", Monaco, monospace;
  -webkit-font-smoothing: subpixel-antialiased;
  background-color: #e3e3e3;
}

.history-items, .history-item-full-text {
  margin: 8px;
  background-color: white;
  border: 1px solid #cdcdcd;
  font-size: 12px;
}

.history-items {
  padding: 5px;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 195px;
  cursor: default;
  .row {
    white-space: nowrap;
    margin-right: 5px;
    margin-left: 5px;
  }
}

.history-item-full-text {
  overflow: auto;
  height: 380px;
  pre {
    padding: 0;
    margin: 0;
    word-break: normal;
    word-wrap: normal;
    background-color: white;
    border: none;
    border-radius: 0;
  }
}